appnope==0.1.0
attrs==20.1.0
backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
docutils==0.16
idna==2.10
iniconfig==1.0.1
ipython==7.17.0
ipython-genutils==0.2.0
isort==5.4.2
jedi==0.17.2
keyring==21.3.1
m2r==0.2.1
mistune==0.8.4
more-itertools==8.4.0
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==3.0.6
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==6.0.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toml==0.10.1
tqdm==4.48.2
traitlets==4.3.3
twine==3.2.0
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
